<div class="container-fluid">
  <div class="row">
    <table id="UserList-table" class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="d-none d-xl-table-cell">Id</th>
        <th scope="col">Name</th>
        <th scope="col" class="d-none d-lg-table-cell">Username</th>
        <th scope="col" class="d-none d-xl-table-cell">Town</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" class="d-none d-sm-table-cell">Website</th>
        <th scope="col" class="d-none d-xl-table-cell">Company</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList">
        <td class="d-none d-xl-table-cell">{{user.id}}</td>
        <td class="break-word">{{user.name}}</td>
        <td class="d-none d-lg-table-cell">{{user.username}}</td>
        <td class="d-none d-xl-table-cell">{{user.address.city}}</td>
        <td class="break-word">
          <a [attr.href]="'mailto:' + user.email">{{user.email}}</a>
        </td>
        <td class="break-word">
          <a [attr.href]="'tel:' + user.phone">{{user.phone}}</a>
        </td>
        <td class="d-none d-sm-table-cell">
          <a [attr.href]="'http://' + user.website" target="_blank">
            {{user.website}}</a>
        </td>
        <td class="d-none d-xl-table-cell">{{user.company.name}}</td>
        <td>
          <a routerLink="/user/{{user.id}}">
            <img class="detail" alt="UserList-logo" src="../../assets/detail.png">
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

